<!--<div class="custom-wrapper-example" matAutocompleteOrigin #origin="matAutocompleteOrigin">-->
<!--<input-->
<!--  matInput-->
<!--  [formControl]="myControl"-->
<!--  [matAutocomplete]="auto"-->
<!--  [matAutocompleteConnectedTo]="origin">-->
<!--</div>-->

<!--<mat-autocomplete #auto="matAutocomplete">-->
<!--  <mat-option *ngFor="let option of users" [value]="option">-->
<!--    {{option}}-->
<!--  </mat-option>-->
<!--</mat-autocomplete>-->



<mat-selection-list #Areduserselect [multiple]="false">
  <mat-list-option *ngFor="let user of Aredusers" [value]="user.id">
    {{user.login}}
  </mat-list-option>
</mat-selection-list>


<p>
  Selected User: {{Areduserselect.selectedOptions.selected[0]?.value}}
</p>

<mat-selection-list #Breduserselect [multiple]="false">
  <mat-list-option *ngFor="let user of Bredusers" [value]="user.id">
    {{user.login}}
  </mat-list-option>
</mat-selection-list>


<p>
  Selected User: {{Breduserselect.selectedOptions.selected[0]?.value}}
</p>

<button (click)="connectUsers(Areduserselect.selectedOptions.selected[0]?.value,Breduserselect.selectedOptions.selected[0]?.value)" type="button">Connect</button>
