<!--<div class="custom-wrapper-example" matAutocompleteOrigin #origin="matAutocompleteOrigin">-->
<!--<input-->
<!--  matInput-->
<!--  [formControl]="myControl"-->
<!--  [matAutocomplete]="auto"-->
<!--  [matAutocompleteConnectedTo]="origin">-->
<!--</div>-->

<!--<mat-autocomplete #auto="matAutocomplete">-->
<!--  <mat-option *ngFor="let option of users" [value]="option">-->
<!--    {{option}}-->
<!--  </mat-option>-->
<!--</mat-autocomplete>-->
<div class="user-connection-container">
  <div class="list-container">
    <mat-card class="aCard">
      <mat-card-content>
        <mat-selection-list [multiple]="false" [(ngModel)]="aRedUserModel" class="SelectList">
          <div *ngFor="let user of allRedUsers">
          <mat-list-option (click)="pairFinder(user.id)" *ngIf="user.systemid===1 && user.login!==''" [value]="user.id">
            {{user.display}}
          </mat-list-option>
          </div>
        </mat-selection-list>
      </mat-card-content>
    </mat-card>

    <mat-card class="bCard">
      <mat-card-content>
        <mat-selection-list [multiple]="false" [(ngModel)]="bRedUserModel" class="SelectList">
          <div *ngFor="let user of allRedUsers">
          <mat-list-option [disabled]="aRedUserModel.length === 0 || bCheckIsDisabled(user.id!)" *ngIf="user.systemid===2 && user.login!==''" [value]="user.id">
            {{user.display}}
          </mat-list-option>
          </div>
        </mat-selection-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="button-positioning">
    <button [disabled]="aRedUserModel.length === 0 || bRedUserModel.length === 0 || aCheckIsDisabled(aRedUserModel[0]) || bCheckIsDisabled(bRedUserModel[0])"
            mat-raised-button color="primary"
            (click)="connectSelectedUsers(aRedUserModel[0], bRedUserModel[0])" type="button" class="button-margin">Connect</button>

    <button [disabled]="aRedUserModel.length === 0 || bRedUserModel.length === 0 || !aCheckIsDisabled(aRedUserModel[0]) || !bCheckIsDisabled(bRedUserModel[0])"
            mat-raised-button color="primary"
            (click)="deleteConnection(aRedUserModel[0],bRedUserModel[0])"
            type="button" class="button-margin">Delete Connection</button>

    <button mat-raised-button color="primary"  (click)="refreshUsers()" type="button" class="button-margin">Refresh</button>

<!--    <div *ngIf="loading">-->
<!--      <div class="spinner">-->
<!--        <mat-progress-spinner-->
<!--          diameter="60"-->
<!--          mode="indeterminate">-->
<!--        </mat-progress-spinner>-->
<!--      </div>-->
<!--    </div>-->

  </div>
</div>


<!--<p>-->
<!--  Selected User: {{Areduserselect.selectedOptions.selected[0]?.value.login}}-->
<!--</p>-->
<!--<p>-->
<!--  Selected User: {{Breduserselect.selectedOptions.selected[0]?.value.login}}-->
<!--</p>-->





<app-user-sub [vmi]="'átadott érték'" (newItemEvent)="addItem($event)"></app-user-sub>
