<!--<div class="custom-wrapper-example" matAutocompleteOrigin #origin="matAutocompleteOrigin">-->
<!--<input-->
<!--  matInput-->
<!--  [formControl]="myControl"-->
<!--  [matAutocomplete]="auto"-->
<!--  [matAutocompleteConnectedTo]="origin">-->
<!--</div>-->

<!--<mat-autocomplete #auto="matAutocomplete">-->
<!--  <mat-option *ngFor="let option of users" [value]="option">-->
<!--    {{option}}-->
<!--  </mat-option>-->
<!--</mat-autocomplete>-->




<mat-selection-list #Areduserselect [multiple]="false">
  <div *ngFor="let user of allRedUsers">
  <mat-list-option [selected]="currentPair !== null && user.id === currentPair.auserid " (click)="connectionChecker(user.id!, 0)" *ngIf="user.systemid===1 && user.login!==''" [value]="user">
    {{user.login}}
  </mat-list-option>
  </div>
</mat-selection-list>


<!--<p>-->
<!--  Selected User: {{Areduserselect.selectedOptions.selected[0]?.value.login}}-->
<!--</p>-->
<hr>
<mat-selection-list #Breduserselect [multiple]="false">
  <div *ngFor="let user of allRedUsers">
  <mat-list-option [selected]="currentPair!==null && user.id === currentPair.buserid " (click)="connectionChecker(0, user.id!)" *ngIf="user.systemid===2 && user.login!==''" [value]="user">
    {{user.login}}
  </mat-list-option>
  </div>
</mat-selection-list>


<!--<p>-->
<!--  Selected User: {{Breduserselect.selectedOptions.selected[0]?.value.login}}-->
<!--</p>-->
<button [disabled]="currentPair!==null" mat-raised-button color="primary" (click)="connectUsers(Areduserselect.selectedOptions.selected[0]?.value.id,Breduserselect.selectedOptions.selected[0]?.value.id);openSnackBar('Successful connection!', 'Ok')" type="button">Connect</button>
<button mat-raised-button color="primary" (click)="refreshUsers()">Refresh</button>

