<!--<div class="custom-wrapper-example" matAutocompleteOrigin #origin="matAutocompleteOrigin">-->
<!--<input-->
<!--  matInput-->
<!--  [formControl]="myControl"-->
<!--  [matAutocomplete]="auto"-->
<!--  [matAutocompleteConnectedTo]="origin">-->
<!--</div>-->

<!--<mat-autocomplete #auto="matAutocomplete">-->
<!--  <mat-option *ngFor="let option of users" [value]="option">-->
<!--    {{option}}-->
<!--  </mat-option>-->
<!--</mat-autocomplete>-->


<mat-selection-list #Areduserselect [multiple]="false" [(ngModel)]="aRedUserModel">
  <div *ngFor="let user of allRedUsers">
  <mat-list-option (click)="aUserID=user.id!" *ngIf="user.systemid===1 && user.login!==''" [value]="user.id">
    {{user.login}}
  </mat-list-option>
  </div>
</mat-selection-list>


<!--<p>-->
<!--  Selected User: {{Areduserselect.selectedOptions.selected[0]?.value.login}}-->
<!--</p>-->
<hr>
<mat-selection-list #Breduserselect [multiple]="false" [(ngModel)]="bRedUserModel">
  <div *ngFor="let user of allRedUsers">
  <mat-list-option [disabled]="aUserID===0 || checkIsDisabled(user.id!)"  *ngIf="user.systemid===2 && user.login!==''" [value]="user.id">
    {{user.login}}
  </mat-list-option>
  </div>
</mat-selection-list>


<!--<p>-->
<!--  Selected User: {{Breduserselect.selectedOptions.selected[0]?.value.login}}-->
<!--</p>-->
<!--<button [disabled]="currentPair!==null" mat-raised-button color="primary"-->
<!--        (click)="connectSelectedUsers(Areduserselect.selectedOptions.selected[0]?.value.id,Breduserselect.selectedOptions.selected[0]?.value.id);openSnackBar('Successful connection!', 'Ok')" type="button">Connect</button>-->
<!--<button mat-raised-button color="primary" (click)="refreshUsers()" type="button">Refresh</button>-->
<!--<button [disabled]="currentPair===null" mat-raised-button color="primary"-->
<!--        (click)="deleteConnection(currentPair.auserid,currentPair.buserid);openSnackBar('Successful deletion!', 'Ok')" type="button">Delete Connection</button>-->

