<mat-toolbar color="primary" class="tool-bar">
  <span>Redmine-Webapplication</span>
  <!--<input type="image" src="assets/redminelogo.png" alt="home" class="image-style"/> -->
  <button routerLink="/home" type="button"><img src="assets/redminelogo.png" alt="" class="image-style"></button>
<!--  <img src="assets/redminelogo.png" alt="" >-->
  <button mat-raised-button color="accent" routerLink="/users" type="button">Users</button>
  <button mat-raised-button color="accent" routerLink="/projects" type="button">Projects</button>
</mat-toolbar>

<h1>{{firstSystem + ' - '}}{{secondSystem}}</h1>
